  /* Reset */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
     font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 62.5%;
}
.profile_wrapper{
    display: flex;
    flex-direction: column;
    background-color: #f3f3f3;
    width: 100%;
    border-radius: 10px;
    border: 1px #3c5ecc solid;
}
.profile_wrapper .name {
    display: flex;

    flex-direction: column;
    align-items: center;

    width: 100%;
    height: 100px;

    font-size: 20px;

    margin-top: 10px;

}
.profile_wrapper .name .name__avatar{
    display: flex;

    width: 80px;
    height: 80px;
    background-image: url('./img/ava.jpg');
    background-size: cover;

    border-radius: 50%;

    margin-top: 1px;
}

.profile_wrapper .history__wrapper{
    display: flex;
    justify-content: center;
}
.profile_wrapper .history__wrapper p {
    font-size: 18px;
    margin-top: 5px;
    font-style: italic;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#333;
    text-align: center;
}
/* lib-css */
.flexcolumn-center {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    margin-top: 0.5rem;
}
.flexrow-center{
    width: 100%;
    display: flex;
    justify-content: center;

}
 .flex-text{
font-size: 1.6rem;
text-align: center;
width: 100%;
height: 20px;
border-radius: 10px;
font-weight: 600;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
} 
/* Style Post */
.other_post{
    width: 100%;
    height: max-content;
}
.Post_item{
    position: relative;
    background-color: #ffffff;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 90%;
    height: 12rem;
    border-radius: 10px;
    border: 1px solid #b9b8b7;
}
.fa.fa-chevron-circle-left{
    display: flex;
    position: absolute;
    
    top:35%;
    left: -6px;

 
    font-size: 1.6rem;
    color:#1673c0;

}
.fa.fa-chevron-circle-left:hover,.fa.fa-chevron-circle-right:hover{
    cursor: pointer;
    color:#1cda0b;
}
.fa.fa-chevron-circle-right{
display: flex;
position: absolute;
top:35%;
right: 0;
transform: translateX(12px);
font-size: 1.6rem;
color:#1673c0;
}
.Post_item .card-list{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.card-list .card{
 
}
.card .card_thumnail{

}
/* style info */
.info_icon{
    display: flex;
    justify-content: space-around;
    justify-items: center;
    margin-top: 10px;
    background-color: #ffffff;
   width: 100%;
   height: 40px;
   border-radius: 10px;
   border-top: 1px solid #333;
   border-bottom: 1px solid #333;
}
.info_icon a{
    text-decoration: none;
    color:#333;
}
.fa{
 font-size: 1.4rem;
    line-height: 40px;
    width: 20px;
    height: 20px;
}
.fa p {
    display: none;
}
.fa-facebook-square {
    position: relative;
    color:#1877f2;
}
.fa-youtube-play{
    position: relative;
    color: red;
}
.fa-twitter{
    position: relative;
    color:rgba(29, 155, 240, 1);
}
.fa-instagram{
    position: relative;
    color: #d30dda;
}
.fa-google{
    position: relative;
    color:rgb(187, 82, 12);
}
.fa p {
    width: 10px;
    height: max-content;
    font-size: 1.5rem;
    position: absolute;
   bottom: 50;
   padding-right: 50%;
}
.info_icon a:hover .fa p {
    display: flex;
}

.audio{
    display: block;
    justify-content: center;
    align-items: center;
    width: 100%;
}
/* style preview */
.preview{
    display: flex;
    flex-direction: column;
}

.preview .info {
    font-size: 1.4rem;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 400;
}

.preview .info .fa-circle.a1{
    color:#1877f2;
}
.preview .info .fa-circle.a2{
    color: red;
}
.preview .info .fa-circle.a3{
    color:rgba(29, 155, 240, 1);
}
.preview .info .fa-circle.a4{
    color: #d30dda;
}
.preview .info .fa-circle.a5{
    color:green;
}
.preview .info .fa-circle.a6{
    color:#7d3e54;
}
.preview .info .fa-circle.a7{
    color:pink;
}
.preview .info .fa-circle.a9{
    color:orange;
}

/* style deviceUser */
.deviceUsers{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 20px;
    width: 100%;
    height: 50px;
    border-radius: 20px;
    background-color: #1673c0;
}
.deviceUser,.producer_device {
    font-size: 13px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 700;
   color: #e9ec24;
}

/* Style Song */

.Song{
    display: flex;
    flex-direction: column;
    width:100%;
    height: 700px;

}

.Song .SongTitle{
    margin: 0 auto;

    font-size: 14px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

    font-style: italic;
}
.Song .Song_playing {
    margin-top: 20px;
    background-color:#ccc;
}

.Song_playing .Song_name,
.Song_playing .Song_propety{
    font-size: 15px;
    text-align: center;
}
.Song_playing .Song_name{
    font-weight: 700;
    color: #1673c0;
}
.Song_playing .Song_propety{
    font-weight: 300;
color:rebeccapurple;
}

.Song_playing .Song_Playbutton{
    text-align: center;
}
.Song_playing .Song_Playbutton button {
    width:50px;
    height: 25px;
    border: none;
    border-radius:20px;
    background-color: none;
    outline: none;
    margin-top: 10px;
    color: #1cda0b;
    font-size: 15px;
    font-weight: 700;
}
/* Style danh sách bài hát */

.Song_List{
    display:flex;
    flex-direction: column;

    width: 100%;
    height: 99%;

    margin-top: 30px;
}
.Song_List .Song_wrapper{
    display: flex;
    align-items: center;
    margin-top:20px;

    width: 100%;
    height: 40px;

    background-color:pink;

    border-radius: 10px;
}
.Song_wrapper .Song_Name {
    width: 40%;
    font-size: 15px;
    font-weight: 700;
    color:blue;
}
.Song_wrapper .song_Author{
    width: 40%;
    font-size: 15px;
    font-weight: 300;
    color: purple;
}
.Song_wrapper .PlaySong{
    width:50px;
    height: 25px;
    border: none;
    border-radius:20px;
    background-color: none;
    outline: none;
    color: #1cda0b;
    font-size: 15px;
    font-weight: 700;
}
.Song_wrapper .PlaySong:hover{
cursor: pointer;
color:red;
}
.Song_wrapper .PlaySong.active {
    cursor: pointer;
   color: red;
}

/* style option */
.option {
    display: flex;
    justify-content: center;
    align-items: center;
}
.option .lightmode {
display: none;
}
.option .darkmode {
    display: flex;
}
.option_option .darkmode,.option_option .lightmode {
    width:40px;
    height: 40px;

    border-radius: 50%;
    border:2px,solid,white;
    justify-content: center;

    background-color: white;
    margin-right: 40px;
    color:black;

}

.darkmode .fa, .lightmode .fa {
    padding: 0;
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    margin-left: 5px;
}
@-webkit-keyframes changerColor {
    10% { color: #f80a0a; } 
    20% { color: #eb8e14;  } 
    30%{color:#e9ec24;}
    40%{color:#1cda0b};
    50%{color:#1673c0;}
    60%{color:#072a6b;}
    70%{color:#50118b ;}
}

.name__name {
        
        font-size:18px;
        font-style: italic;
        font-weight:bold;
    animation: changerColor 1000ms infinite;
}
.post__content{
    font-size:18px;
    font-style: italic;
    font-weight:bold;
animation: changerColor 1000ms infinite;
}
.time,.timing{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #b6158e;
}
.Intop{
    width: 80px;
    height: 60px;
    background-color: #1cda0b;
    position:fixed;
    right: 0;
    bottom: 0;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgba(252, 252, 252, 0.897);
    border-radius: 10px;

}